{% extends "layout.html" %}
{% block title %}
HomePage
{% endblock %}

{% block navbar %}
<nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">BitTweet</div>
            <div class="navbar-nav">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search tweets...">
                    <button class="search-btn">🔍</button>
                </div>
                {% comment %} <a href="#" class="nav-btn">Sign In</a> {% endcomment %}
                <a href="#" class="nav-btn signup">Log Out</a>
            </div>
        </div>
    </nav>
{% endblock %} 

{% block header %}
    <div class="header">
        <div class="logo">BitTweet</div>
        <div class="tagline">Connect to the past, tweet to the future</div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}